.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-basis: Auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-basis: Auto;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 1440px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 32px 80px 64px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  background: #512689;
}

.app__description {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.app__description div {
  display: flex;
  flex-direction: column;
  max-width: 846px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.app__description h1 {
  font-size: 64px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}

.app__description h2 {
  color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  font-weight: 400;
}

.app_logout-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}button {
  border-radius: 8px;
  width: 81px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #f8f8f8;
  color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app__hudden-block {
  width: 217px;
}

.app__users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 48px 80px 60px;
}

.app__users-container {
  flex-direction: row;
}

.app__users-list {
  gap: 20px;
}

.app__users-container {
  display: flex;
  justify-content: center;
  max-width: 1,280px;
  margin-bottom: 56px;
}

.app__users-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app__user-list-item {
  width: 305px;
  height: 263px;
  display: flex;
}

.user-list-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list-item__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 124px;
  width: 124px;
  margin-bottom: 16px;
}

.user-list-item__image {
  border-radius: 50%;
}

.user-list-item__name {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #151317;
}

.app__user-list-item {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3.98px 0px #33333326;
  border-radius: 10px;
}

.app__user-list-item:hover {
  border: 2px solid #000000;
}

.pagination__button {
  padding: 8px;
  border: 1px solid #151317;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #151317;
}

.app__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}