.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-basis: Auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex-basis: Auto;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 1440px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 32px 80px 64px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  background: #512689;
}

.app__description {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.app__description div {
  display: flex;
  flex-direction: column;
  max-width: 846px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.app__description h1 {
  font-size: 64px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}

.app__description h2 {
  color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  font-weight: 400;
}

.app_logout-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}button {
  border-radius: 8px;
  width: 81px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #f8f8f8;
  color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app__hudden-block {
  width: 117px;
}